@{
	ViewBag.Title = "Статистика";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Статистика</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
</div>

