@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="display: block; position: relative; float: left;">
				<h1>Склад /</h1>
			</div>
			<div style="display: inline-block; position: relative; margin-left: 10px;">
				@RenderSection("StorePageHeader", required: true)
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div>
				@RenderSection("StoreRightPanel")
			</div>
			<ul class="nav nav-list">
				<li class="divider"></li>
			</ul>
			<ul class="nav nav-list">
				<li class="nav-header">Справочники</li>
				<li class="divider"></li>
				<li class="active">
					@Html.ActionLink("Товары", "Index", "Products")
				</li>
				<li>
					<a href="#">Profile</a>
				</li>
				<li>
					<a href="#">Messages</a>
				</li>
				<li class="divider"></li>
				<li class="nav-header">Документы</li>
			</ul>
		</div>
		<div class="col-md-8">
			@RenderBody()
		</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
</div>
